{{> menu active="api"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Latest Weather Reading From OpenWeather API
  </h3>
  <div class="section">
    <h3 class="is-5 title">
      Timezone/City
    </h3>
      {{report.timezone}}<br>
      Lat: {{report.lat}}<br>
      Lng: {{report.lng}}<br>
  </div>
  <div class="section">
   {{> list-api-readings}}
  </div>
      <div class="box" id="chart"></div>
      <div>
        <script>
          const data = {
            labels: [
              {{#each report.trendLabels}}
                "{{this}}",
              {{/each}}
            ],
            datasets: [
              {
                name: "Temperature", type: "line",
                values: [
                  {{#each report.tempTrend}}
                    {{this}},
                  {{/each}}
                ]
              }
            ]
          }

          const chart = new frappe.Chart("#chart", {
            title: "Temperature Trend From API Reading",
            data: data,
            type: 'line',
            height: 250,
          })
        </script>
        {{!-- {{> map }} --}}
      </div>
    </form>
  </section>
</section>