<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tower Height</th>
      <th>Light Height</th>
      <th>Character</th>
      <th>Daymark</th>
      <th>Range</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each group.lighthouses}}
     <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{towerHeight}}
      </td>
      <td>
        {{lightHeight}}
      </td>
      <td>
        {{character}}
      </td>
      <td>
        {{daymark}}
      </td>
      <td>
        {{range}}
      </td>
      <td>
        {{latitude}}
      </td>
      <td>
        {{longitude}}
      </td>
      <td>
        <a href="/group/{{../group._id}}/deletegroup/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
      <td>
        <a href="/group/{{../group._id}}/editlighthouse/{{_id}}" class="ui icon button">
          <i class="fas fa-edit"></i>
        </a>
      </td>
     </tr>
    {{/each}}
  </tbody>
</table>

{{report}}
