<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Code</th>
      <th>TimeStamp</th>
      <th>Temperature C'</th>
      <th>WindSpeed km/h</th>
      <th>WindDirection</th>
      <th>Pressure</th>
      <th>Lat</th>
      <th>Lng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{report.timeStamp}}
      </td>
      <td>
        {{report.temperature}}
      </td>
      <td>
        {{report.windSpeed}}
      </td>
      <td>
        {{report.windDirection}}
      </td>
      <td>
        {{report.pressure}}
      </td>
      <td>
      </a>
    </tr>
  </tbody>
</table>