<table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
  <thead>
    <tr class="is-uppercase">
      <th>FirstName</th>
      <th>LastName</th>
      <th>eMail</th>
      <th>password</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
          {{password}}
        </td>
        <td>
          <a href="/admin/edituser/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
          <a href="/deleteuser/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>          
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>